@charset "UTF-8";

@media screen and (min-width: 769px) {

  *{
    margin: 0;
    padding: 0;
  }

  body{
    height: 100%;
    width: 100%;
    position: relative;
  }

  img{
    vertical-align: bottom;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  header{
    height: 70px;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.5);
    position: fixed;
  }

  header ul{
    float: right;
    margin-top: 25px;
  }

  header li{
    float: left;
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
  }

  header li a{
    color: black;
    text-decoration: none;
  }

  header li a:hover{
    opacity: 0.5;
  }

  .home1{
    height: 500px;
    width: 100%;
    background-image: url(../pictures/home.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  h1{
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    line-height: 500px;
    color: rgb(229, 229, 229);
  }

  h2{
    border-bottom: 2px solid #000000;
    font-style: italic;
  }

  .about{
    height: 400px;
    width: 70%;
    margin: 50px auto;
  }

  .profile-image{
    float: left;
    height: 300px;
    width: 300px;
    margin-top: 50px;
    border-radius: 150px;
    border: 1px solid #000000;
  }

  .profile-txt{
    float: right;
    margin-top: 50px;
    height: 300px;
  }

  .profile-txt span{
    font-weight: bold;
    font-size: 24px;
  }

  .profile-txt p{
    font-size: 20px;
    line-height: 2;
  }

  .container{
    width: 100%;
    height: 800px;
    background-color: #f5deb3;
    padding-top: 50px;
  }

  .works-skills{
    height: 600px;
    width: 70%;
    margin: 0 auto;
  }

  .works table{
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .works th{
    width: 240px;
    background-color: rgb(229, 229, 229);
    padding: 12px 0;
    border: 1px solid #cccccc;
  }

  .works td{
    width:660px;
    border: 1px solid #cccccc;
    padding-left: 10px;
  }

  .skills{
    margin-top: 50px;
  }

  article{
    margin: 10px;
  }

  section p{
    height: 100px;
    width: 150px;
  }

  .programing{
    float: left;
    margin: 0 50px 0 50px;
    list-style: none;
  }

  .programing img{
    border-radius: 50px;
    height: 150px;
    width: 150px;
  }

  .skills section:hover{
    transform: scale(1.2,1.2);
    transition: 1s all;
  }

  .programing span{
    font-weight: bold;
    display: block;
    text-align: center;
  }

  .qualifications{
    clear: both;
    padding-top: 50px;
  }

  .entitlement li{
    padding: 12px 0;
    margin-left: 20px;
  }

  .contact{
    padding: 50px 0 50px 0;
    height: 600px;
    width: 40%;
    margin: 0 auto;
    background-color: #f0f8ff;
    opacity: 0.9;
  }

  form{
    margin-top: 20px;
    padding-left: 20px;
  }

  .contact form dt{
    height: 30px;
  }

  .normal-input{
    height: 30px;
    width: 50%;
  }

  button{
    margin-top: 20px;
    width: 20%;
    height: 40px;
  }

  .contact-container{
    background-image: url(../pictures/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-dl{
    margin: 0 auto;
  }

  .contact span{
    color: red;
  }

  .container-submit{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .contact-submit{
    height: 20%;
    width: 55%;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 5%;
    left: 25%;
  }

  .contact-submit p{
    font-size: 30px;
    font-weight: bold;
    padding-top: 240px;
  }





  footer{
    text-align: center;
    height: 100px;
    line-height: 100px;
  }

}
