@charset "UTF-8";

@media screen and (max-width: 768px) {

  *{
    margin: 0;
    padding: 0;
  }

  body{
    height: 100%;
    width: 100%;
    font-size: 16px;
    position: relative;
  }

  img{
    vertical-align: bottom;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  header{
    z-index: 9999;
    height: 160px;
    width: 100%;
    background-color: rgba(229, 229, 229, 0.5);
    position: fixed;
    text-align: center;
    line-height: 40px;
  }

  header li{
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
  }

  header li a{
    color: black;
    text-decoration: none;
  }

  header li a:hover{
    opacity: 0.5;
  }

  .container-home{
    position: relative;
    height: 500px;
    width: 100%;
  }

  .home1{
    height: 500px;
    width: 100%;
    background-image: url(../pictures/home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: change-img 20s infinite;
  }

  .home2{
    height: 500px;
    width: 100%;
    background-image: url(../pictures/programing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    animation: change-img 20s infinite;
    animation-delay: 10s;
  }

  @keyframes change-img {
    0% {opacity: 0}
    5% {opacity: 1}
    25% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 0}
  }

  .home1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0, 0.3);
  }

  .home2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0, 0.3);
  }

  h1{
    font-size: 2em;
    font-family: cursive;
    text-align: center;
    line-height: 500px;
    color: rgb(255, 255, 255);
  }

  h2{
    font-size: 1.2em;
    border-bottom: 2px solid #000000;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 5px;
    text-align: left;
  }

  .about{
    height: 650px;
    width: 100%;
    text-align: center;
  }

  .profile-image{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: 1px solid #000000;
    margin-top: 20px;
  }

  .profile-txt{
    height: 300px;
    width: 300px;
    margin: 20px auto;
  }

  .profile-txt p{
    text-align: left;
    line-height: 1.5;
  }

  .container{
    width: 100%;
    height: 1350px;
    background-color: #f5deb3;
    padding-top: 20px;
  }

  .works-skills{
    height: 600px;
    width: 70%;
    margin: 0 auto;
  }

  .works table{
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .works th{
    width: 30%;
    font-size: 0.7em;
    background-color: rgb(229, 229, 229);
    padding: 12px 0;
    border: 1px solid #cccccc;
  }

  .works td{
    width:70%;
    font-size: 0.6em;
    border: 1px solid #cccccc;
    padding-left: 10px;
  }

  .skills{
    padding-top: 20px;
    text-align: center;
  }

  .programing{
    list-style: none;
  }

  .programing img{
    border-radius: 50px;
    height: 150px;
    width: 150px;
  }

  .skills section{
    padding-top: 10px;
  }

  .skills section:hover{
    transform: scale(1.2,1.2);
    transition: 1s all;
  }

  .programing p{
    text-align: left;
  }

  .programing span{
    font-weight: bold;
    display: block;
    text-align: center;
  }

  .qualifications{
    padding-top: 20px;
  }

  .entitlement li{
    padding: 12px 20px 0 0;
  }

  .contact-container{
    background-image: url(../pictures/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact{
    padding: 20px 10px;
    height: 600px;
    width: 60%;
    margin: 0 auto;
    background-color: #f0f8ff;
    opacity: 0.9;
  }

  .contact form dt{
    height: 30px;
    padding-top: 5px;
  }

  .normal-input{
    height: 30px;
    width: 50%;
  }

  .contact textarea{
    height: 100px;
    width: 90%;
  }

  button{
    margin-top: 20px;
    width: 20%;
    height: 40px;
  }

  .contact span{
    color: red;
  }

  .container-submit{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .contact-submit{
    height: 10%;
    width: 55%;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 5%;
    left: 25%;
  }

  .contact-submit p{
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
  }



  footer{
    text-align: center;
    height: 100px;
    line-height: 100px;
  }

}
